p {
    text-align: center;
}

html {
    background-color: lightgray;
    padding: 10px;
}

#me {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#intro-div {
    background-color: lightsteelblue;
    text-align: center;
}

footer {
    background-color: lightsteelblue;
    border-radius: 10px;
}

div {
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}
