p {
    text-align: center;
}

html {
    background-color: antiquewhite;
}

#me {
    height: 200px;
    width: 200px;
}

#intro-div {
    background-color: cyan;
    text-align: center;
}

footer {
    background-color: lightcoral;
}